.editWarehouseForm {
    width: 380px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    h2 {
        color: #4a3b33;
        font-size: 22px;
    }

    label {
        color: #7a665d;
        font-weight: 600;
        font-size: 14px;
    }

    input {
        padding: 12px 14px;
        border: 1px solid #f5d9c7;
        border-radius: 12px;
        background: #fffbf6;
    }

    button {
        height: 44px;
        margin-top: 15px;
        border: none;
        border-radius: 10px;
        background: #ff9d5c;
        color: white;
        cursor: pointer;
    }
}
